/* header */
header{
  border-bottom: 1px solid rgba(255,255,255,.5);
  position: fixed;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 60px;
  box-sizing: border-box;
}
/* 내비게이션 전체배경 */
header::before{
  content: '';
  position: absolute;
  left: 0; top:80px;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 0;
  transition: 0.3s;
}
header.on::before{ height: 180px;}
header:hover, header.bg{ background: rgba(255,255,255,.9);}
header nav>ul>li>a{color:#333;}
.logo{float: left; margin: 25px 0 0 70px;}
nav{position: absolute; left: 50%; transform: translate(-50%);}
nav>ul>li{float: left; position :relative;}
nav>ul>li>a{display: block; height: 80px;
line-height: 80px; color:#fff; font-size: 17px; padding: 0 40px;  position: relative;
}
nav>ul>li>a::before{
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #0f7258;
  transform: translateX(-50%); left: 50%;
  transition: 0.2s;
}
nav>ul>li>a:hover::before{ width: 80%;}
.inner{
  position: absolute;
  top: 80px;
  width: 100%;
  height: 180px;
  display: none;
}
nav>ul>li:hover .inner{background: rgb(90, 95, 90);}
nav>ul>li .inner a{
  color: #bcbcbc; padding: 10px;
  display: block; text-align: center;
}
.inner>li{}
.inner>li>a{}
.inner>li>a:hover{}
header .reserve{
  float: right;
  width: 231px;
  height: 80px;
  display: inline-block;
  background: url(../images/btn_bg.jpg) no-repeat 100% 0;
  transition: 0.5s;
}
header .reserve a{
  display: block;
  color: #fff;
  font-size: 16px;
  text-align: left;
  text-indent: 30px;
}
header .reserve:hover{
  background-position: 0 0;
}
.menu{
  display: none;
  width: 80px;
  height: 60px;
  background: url(../images/menu_btn.png) no-repeat 0 50%;
  text-indent: -9999px;
  float: right;
  margin-top: 10px;
  cursor: pointer;
}
/* main */
/* main_visual */
.main_visual{
  /* min-height: 1000px; */
  height: 90vh;
  position: relative;
  width: 100%;
}
.video_wrap{
  position: absolute;
  left: 0;top:0;right: 0;
  height: 100%;
  width: 100%;
}
.main_text{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  min-height: 430px;
}
.main_text span, .main_text h2{
  color: #fff;
}
.main_text span{
  font-size: 23px;
}
.main_text h2{
  font-size: 60px;
  font-weight: 500;
}
.main_text a{
  display: inline-block;
  border: 1px solid #fff;
  padding:15px 60px;
  color: #fff;
  margin-top: 23px;
  font-size: 23px;
  font-weight: 400;
  position: relative;
  overflow: hidden;
}
.main_text a:hover i{
  background-position: 0,0;
}
.main_text a:hover{
  color: #0f7258;
  z-index: 1;
}
.main_text a:hover::before{
  left: -20px;
}
.main_text a::before{
  content: "";
  width: 120%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -130%;
  z-index: -1;
  transform: skewX(30deg);
  transition: 0.5s;
}
.main_text a i{
  display: inline-block;
  width: 29px;
  height: 12px;
  background: url(../images/more_arrow.png) no-repeat;
  background-position: -29px 0;
  position: relative;
  top: -3px;
  margin-left: 10px;
  transition: 0.5s;
}
.visual_icon{
  position: absolute;
  width: 1000px;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
}
.visual_icon ul{
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}
.visual_icon ul li{
  flex: 1;
  text-align: center;
}
.visual_icon ul li a{
  padding: 40px 0;
  display: block;
  transition: 0.3s;
  position: relative;
}
.visual_icon ul li a span{
  display: block;
  width: 50px;
  height: 44px;
  background-repeat: no-repeat;
  margin: auto;
  transition: 0.5s;
}
.visual_icon ul li a h4{
  color: #fff;
  font-size: 17px;
  margin-top: 10px;
  font-weight: 500;
}
.visual_icon ul li a::before,::after{
  content: "";
  width:100px;
  height: 3px;
  background-color: #0f7258;
  position: absolute;
  top: 0;
  left: 25%;
  transform: scaleX(0);
  transition: 0.5s;
}
.visual_icon ul li a::after{top: 99%;}
.visual_icon ul li a span.icon1{background-image: url(../images/quick_icon01.png);}
.visual_icon ul li a span.icon2{background-image: url(../images/quick_icon02.png);}
.visual_icon ul li a span.icon3{background-image: url(../images/quick_icon03.png);}
.visual_icon ul li a span.icon4{background-image: url(../images/quick_icon04.png);}
.visual_icon ul li a span.icon5{background-image: url(../images/quick_icon05.png);}
.visual_icon ul li a:hover{background-color: #fff;}
.visual_icon ul li a:hover h4{color: #0f7258;}
.visual_icon ul li a:hover span{background-position: -50px 0;}
.visual_icon ul li a:hover::before,.visual_icon ul li a:hover::after{transform: scaleX(1);}
/* service */
.service{margin-top: 300px;}
.service .title{
  text-align: center;
  opacity: 0;
  transition: 0.6s;
}
.service .subTitle{
  text-align: center;
  opacity: 0;
  transition: 0.7s;
}
.service_content{
  width: 1200px;
  margin: auto;
  position: relative;
  top: 40px;
  opacity: 0;
  transition: 0.6s;
  transition-delay: 0.3s;
}
/* on클래스 추가 */
.service .title.on{opacity: 1;}
.service .subTitle.on{opacity: 1;}
.service_content.on{opacity: 1;}

.service_content ul{
  display: flex;
  justify-content: space-between;
} 
.service_content ul li{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
} 
.service_content ul li a{
  display: block;
  position: relative;
  background-color: #0f7258;
  overflow: hidden;
} 
.service_content ul li a img{vertical-align: top; transition: 0.2s;} 
.service_content ul li a .ser_text{
  position: absolute; bottom: 0; left: 0; width: 100%; color: #fff; padding: 25px 0 25px 25px; z-index: 1;
} 
.service_content ul li a .ser_text strong{
  font-size: 25px;
  margin-bottom: 10px;
  display: block;
} 
.service_content ul li a .ser_text p{ font-size: 16px; color: #bcbcbc; line-height: 1.5;} 
.service_content ul li a .ser_text::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/ser_textbg.png) no-repeat;
  bottom: 0; 
  left: -100%;
  background-size: cover;
  z-index: -1;
  transition: 0.5s;
}
.service_content ul li a:hover img{opacity: 0.8;}
.service_content ul li a:hover .ser_text::before{left: 0;}

/* expert_technique */
.expert_technique{padding-top: 150px;position: relative;}
.expert_technique::before{content: '';position: absolute;
width:100%;height: 0;background: url(../images/expert_bg.png) no-repeat;background-size: cover;background-position: 100% 0;z-index: -1;top: -100;transition: 3s;}
.expert_technique_inner{width: 1200px;margin: auto;}
/* expert */
.expert{display: flex;justify-content: space-between;}
.expert li{width: 48%;}
.expert li a{position: relative;display: block;overflow: hidden;box-shadow: 10px 10px 10px rgba(0,0,0,.2);} 
.expert li a img{ width: 100%; vertical-align: top;transition: 0.3s;} 
.expert li a .text{color: #fff;background: rgba(0, 0, 0, 0.15);position: absolute;left: 0;bottom: 0;width: 100%;
padding: 25px 30px;transition: 0.3s;} 
.expert li a .text::before{content: '';position: absolute;
width: 3px;height: 80%;background-color: #fff;top: 0;}
.expert li a .text span{margin-left: 25px;display: block;font-size: 20px;} 
.expert li a .text strong{margin-left: 25px;font-size: 23px;} 
.expert li a:hover .text{background-color: rgba(10, 100, 69, 0.5);}
.expert li a:hover img{transform: scale(1.2);}

.expert_technique_inner .title{opacity: 0;transition: 0.5s;}
.expert_technique_inner .subTitle{opacity: 0;transition: 0.5s;}
.expert_technique_inner .expert{opacity: 0;transition: 0.5s;}
.expert_technique_inner .title.on{opacity: 1;}
.expert_technique_inner .subTitle.on{opacity: 1;}
.expert_technique_inner .expert.on{opacity: 1;}
.expert_technique.on::before{height: 2200px;}
/* homeCheck */
.homecheck{display: flex;margin-top: 80px;}
.homecheck .text{width: 40%;align-self: flex-end;}
.homecheck_title{color: #fff;font-size: 35px;}
.homecheck p{color: #b6e7da;font-size: 20px;line-height: 2;}
.homecheck .img{position: relative;width: 60%;}
.homecheck img{width: 100%;box-shadow: 10px 10px 10px rgba(0 , 0, 0, 0.2);}
.homecheck .img .play{width: 100px;height: 100px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);display: block;background: url(../images/video_play.png)no-repeat center;
}
/* awards */
.awards{text-align: center;margin-top: 80px;opacity: 0;}
.awards h2,p{color: #fff;padding: 20px 0;}
.awards_content{width: 1200px;margin: auto;}
.awards_content ul{display: flex;justify-content: space-between;}
.awards_content ul li{width: 30%;background-color: #033527d7;padding: 60px 0;display: flex;justify-content: center;align-items: center;position: relative;}
.awards_content ul li::after{content: "";width: 100px;
  height: 2px;position: absolute;background-color: #fff;
top: ;}
.awards_content ul li::before{content: "";width: 100px;
height: 2px;position: absolute;background-color: #fff;}
.awards_content ul li::before{bottom: 0;}
.awards_content .text{margin-left: 20px;text-align: left;}
.awards_content .text strong{display: block;font-size:45px;
color: #fff;}
.awards_content .text span{color: #fff;font-weight: 400;
font-size: 22px;}
.text_list{width: 1200px;margin: 30px auto;text-align: left;}
.text_list ul{display: flex;justify-content: space-around;}
.text_list ul li{width: 500px;color: #38ac8e; position: relative;}
.text_list ul li::before{content: "";width: 10px;height: 10px;border: 1px solid #38ac8e;position: absolute;top: 5px; left: -20px;transform: rotate(30deg);}

.awards.on{opacity: 1;transition: 0.5s;}
/* news */
.news{position: relative;margin-top: 150px;}
.news::before{content: '';position: absolute;width: 1000px;height: 600px;background: url(../images/info_img03.jpg)no-repeat;opacity: 0.5;right: 0%; top: 10px;transform: scale(0.6);z-index: -1;}
.news_inner{width: 1200px;margin: auto;}
.news_inner .title_wrap{float: right;width: 35%;}
.news_inner .title_wrap .title{text-align: left;}
.news_content{display: flex;justify-content: space-between;}
.news_content ul li a{position: relative;display: block;overflow: hidden;box-shadow: 10px 10px 10px rgba(43, 43, 43, 0.2);transition: 0.3s;}
.news_content ul li a:hover .text{background-color: #227a62a8;}
.news_content ul li a:hover img{transform: scale(1.2);}
.news_content ul li img{width: 100%;vertical-align: top;
transition: 0.3s;}
.news_content ul li a .text{position: absolute;left: 0;bottom: 0;width: 100%;background-color: #2021219a;color: #fff;padding: 20px 5px 20px 20px;}
.news_content ul li a .text span{display: block;}
.news_content ul li a .text strong{font-size: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;margin-right: 30px;}
.news_content .left{width: 60%;display: flex;
justify-content: flex-end;flex-wrap: wrap;}
.news_content .left li:nth-child(1){width: 70%;height: 210px;float: right;}
.news_content .left li:nth-child(2){width: 100%;margin-top: 80px;}
.news_content .right{width: 35%;top: 200px;position: relative;}
/* consumers */
.consumers{padding: 50px 0;}
.consumers_inner{width: 1200px;margin: auto;}
.consumers_inner>.title_wrap::before{top: 100%;}
/* 공통제목부분 */
.title_wrap{position: relative;padding: 5px;}
.title_wrap::before{content: '';position: absolute;background-color: #ddd;width: 100%;height: 1px;top: 150%;}
.title{font-size: 30px;text-transform: uppercase;font-weight: 700;color:#333;}
.subTitle{font-size: 17px;color: #969696;font-weight: 400;margin-top: 10px;}
.btn_more{width: 50px;height: 50px;border: 5px solid #d8d8d8;top: 25%;right: 0;transition: 0.5s;position: absolute;}
.btn_more::before{
  content: '';position: absolute;top: -15px;left:-10px;border: 1px solid #d8d8d8;width: 100%;height: 100%;transition: 0.5s;}
.btn_more::after{content: '';position: absolute;width: 24px;height: 24px;background: url(../images/more_plus.png)no-repeat;top:50%;left: 50%;transform: translate(-50%,-50%);transition: 0.3s;}
.btn_more:hover{border: 5px solid #0f7258;}
.btn_more:hover::before{top: 0;left: 0;opacity: 0;}
.btn_more:hover::after{transform:translate(-50%,-50%) rotate(90deg);}
/* thumnail */
.thumnail{margin-top: 60px;}
.thumnail ul{display: flex;justify-content: space-between;}
.thumnail ul li{width: 24%;}
.thumnail ul li a .img{display: block;height: 210px;overflow: hidden;position: relative;}
.thumnail ul li a .img img{width: 100%;}
.thumnail ul li a .img::before{content: '';border: 0px solid #38ac8e;position: absolute;left: 0;top: 0;width: 100%;height: 100%;box-sizing: border-box;background: rgba(51, 51, 51, 0.76) url(../images/cus_more.png)no-repeat 50%;opacity: 0;transition: 0.5s;}
.thumnail ul li a:hover .img::before{opacity: 1;border:10px solid #38ac8e;}
.thumnail .text{margin-top: 20px;}
.thumnail .text .icon_best{display: block;width: 34px;height: 17px;background: url(../images/best_icon.jpg)no-repeat;}
.thumnail .text strong{display: block;font-weight: 500;margin: 5px 0 16px;}
.thumnail .text span{font-size: 14px;}
.thumnail .text .name{position: relative;}
.thumnail .text .name::after{content: "";width: 1px;height: 14px;background-color: #333;position: absolute;top: 50%;left: 110%;  transform: translate(-50%,-50%);}
/* board */
.board{display: flex;justify-content: space-between;margin-top: 50px;}
.board ul{margin-top: 30px;}
.board ul li{border-bottom: 1px dashed #eee;}
.board ul li a{display: block;padding: 15px 3px;color: #647671;position: relative;}
.board ul li a::after{content: '..';position: absolute;top: 30%;right:5%;}
.board ul li a span{display: inline-block;max-width: 50%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.img2,.img3{display: inline-block;transform: translateY(-8px);}
.board ul li a:hover{background: #f5f5f5;color: #333;}
.board .review,.board .reserve{width: 48%;}
/* 상담예약버튼 */
.btn_rserve{width: 270px;height: 60px;border: 2px solid #0f7258;display:block;text-align: center;line-height: 55px;font-size: 20px;color: #38ac8e;font-weight: 500;margin: 50px auto;transition: 0.4s;position: relative;overflow: hidden;}
.btn_rserve i{display: inline-block;width: 29px;height: 11px;background: url(../images/go_more_arrow.png)no-repeat -29px 0;position: relative;
 margin: 0 15px 5px;}
.btn_rserve::before{content: '';position: absolute;width: 140%;height: 100%;background-color: #0f7258;left: -160%; top: 0;transition: 0.5s;z-index: -1;transform:skewx(45deg)}
.btn_rserve:hover{color: #fff;}
.btn_rserve:hover::before{left:-15%; top: 0;}
.btn_rserve:hover i{background-position: 0 0;}
/* footer */
footer
.site_map_wrap{background-color: #202121;}
.site_map{width: 1200px;margin: auto; padding: 30px 0;}
.site_map>ul{display: flex;border-left: 1px solid #373838;border-right: 1px solid #373838;}
.site_map>ul>li{width:23%;height: 230px;padding-left: 30px;box-sizing: border-box;}
.site_map>ul>li~li{border-left: 1px solid#373838;}
.site_map>ul>li>strong{color: #6bd4b9;font-weight: 500;font-size: 18px;}
.site_map .site_map_inner{margin-top: 35px;}
.site_map .site_map_inner li{margin-bottom: 20px;}
.site_map .site_map_inner li a{color: rgb(165, 165, 165);font-size: 15px;transition: 0.3s;position: relative;}
.site_map .site_map_inner li a:hover{color: #fff;}
.site_map .site_map_inner li a::before{content: '';height:2px;width: 0px;background-color: #fff;position: absolute;left: -30px;top: 50%;transform: translateY(-50%);transition: 0.3s;}
.site_map .site_map_inner li a:hover::before{width: 15px;}
.social{margin:30px 0;}
.social ul{display: flex;justify-content: center;}
.social ul li~li{margin-left: 20px;}
.social ul li:hover a img{
  animation: sns .7s;
}
@keyframes sns{
  0% {transform: translateY(0px);}
  50%{transform: translateY(-10px);}
  100%{transform: translateY(0px);}
}
.footer{
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer .footer_logo{
  width: 25%;
}
.footer address{
  width: 73%;
  font-size: 15px;
  color: #626262;
  font-weight: 300;
  line-height: 1.8em;
}
.footer address p{
  color: #202121;
  font-weight: 400;
}
.footer address p span{
  color: #227a63;
  font-weight: 400;
}